<h1>New Volunteer Engagement</h1>
<%= form_for @volunteer_engagement do |f| %>
  <%= f.label :date %>
  <%= f.text_field :date %>
  <%= f.label :volunteer_id %>
  <%= f.text_field :volunteer_id %>
  <%= f.label :nonprofit_id %>
  <%= f.text_field :nonprofit_id %>
  <%= f.submit %>
<% end %>